body {
    margin: 0;
    padding: 0;
    font-family: 'Irish Grover';
}

.header {
    background-image: url('../img/header.jpeg');
    background-size: cover;
    background-position: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
   
}

.header:hover{

    color: #CEB25D
}

.Fondo{
    background-image: url('../img/fondo-inicio.jpg');
    background-size: cover;
    height: calc(100vh - 100px); /* Toma el 100% del viewport height y resta la altura del header */
    /* Toma el 100% del viewport height y resta la altura del header */
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    padding-top: 50px;
    transition: background-color 0.3s ease;
}
.nav a:hover{

    color: blanchedalmond
}

.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}