body {
    margin: 0;
    padding: 0;
    font-family: 'Irish Grover';
}

.header {
    background-image: url('../img/header.jpeg');
    background-size: cover;
    background-position: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
   
}

.header:hover{

    color: #CEB25D
}

.Fondo{
    background-image: url('../img/fondo-inicio.jpg');
    background-size: cover;
    height: calc(100vh - 100px); /* Toma el 100% del viewport height y resta la altura del header */
    /* Toma el 100% del viewport height y resta la altura del header */
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    padding-top: 50px;
    transition: background-color 0.3s ease;
}
.nav a:hover{

    color: blanchedalmond
}

.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}

.image-section {
    
    padding: 20px;
    text-align: center;
    background-color:#ccccccb7;
    padding-top: 400px;
    position: relative;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

.image-section img {
    max-width: 100%;
    position:absolute;top:0px;right:0px;bottom:0px;left:0;
    border-radius: 15px;
    
}

.form-section {
  
    padding: 10px;
    
    background-color: #9f734ae5;
    border-radius: 0px 20px 20px 0px;
    width: 400px;
    height: 450px;
    margin: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: start;
}

.form-section h2 {
    font-size: 50px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form-section label {
    display: block;
    margin-bottom: 8px;
    padding-top: 10px;
}

.form-section input {
    width: 60%;
    padding: 5px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 15px;

}

.form-section button {
    background-color: #CEB25D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
   
    
   
    

}

.form-section button:hover {
    background-color:#e9c14b;
    transform: scale(1.1);
    

}